@import "variables";

@mixin btn-base {
    padding: 0;
    background-color: inherit;
    border: none;
    cursor: pointer;
}

@mixin section-title {
    font-size: 30px;
    line-height: 38px;
    font-weight: 400;
    max-width: 930px;

    @media (min-width: 992px) {
        font-size: $section-title;
        line-height: 56px;
        font-weight: 400;
        max-width: 930px;
    }
}

@mixin hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }
}

@mixin container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

@mixin link {
    font-style: italic;
    font-size: 18px;
    color: $black;

    @media (min-width: 992px) {
        font-size: $bigger;
        line-height: 38px;
    }
}

@mixin underline {
    display: inline-block;

    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: $black;
        margin-top: -3px;
        opacity: 0;
        transition: $transition;

        @media (min-width: 992px) {
            margin-top: -5px;
        }
    }

    &:hover {
        &:after {
            opacity: 1;
        }
    }
}