
//----------------------------- Colors ---------------------------------
$white: #FFF;
$black: #000;
$bg-site: #FFFBF6;
$text-color: $bg-site;
$main-color: #00372D;
$footer-color: #FFFBF6;
$message: #E10009;
$submit: #F5E490;
$submit-hover: rgba(245, 228, 144, 0.7);

// -------------Font size-------------
$regular: 18px;
$bigger: 24px;
$nav-size: 24px;
$banner-title: 48px;
$section-title: 48px;
$travel-title: 30px;
$team-title: 30px;
$write-us: 40px;
$tour-big: 30px;
$detail-titel: 30px;
$article-head: 30px;
$quotes: 40px;

// --------------------------------Fonts-------------------------------
$main-font: 'Berlingske Serif', sans-serif;
$graphik: 'Graphik LCG', sans-serif;

// ------------Other--------------------

$transition: .2s linear;


