@import "reset";
@import "blocks/header";
@import "blocks/footer";
@import "blocks/instagram-section";
@import "libs/slick";
@import "libs/animate";


.article {
    @include container;
    padding: 38px 15px 15px;

    @media (min-width: 992px) {
        padding: 56px 96px 40px;
    }

    &__date {
        font-size: 18px;
        line-height: 40px;

        @media (min-width: 992px) {
            font-size: $bigger;
            line-height: 34px;
            margin-bottom: 10px;
        }
    }

    &__header {

        margin-bottom: 44px;

        @media (min-width: 992px) {
            display: flex;
            margin-bottom: 81px;
        }
    }

    &__title {
        font-size: 30px;
        line-height: 38px;
        font-weight: 400;

        @media (min-width: 992px) {
            font-size: $section-title;
            line-height: 56px;
            max-width: 562px;
            margin-right: 72px;
            width: 50%;
        }
    }

    &__header-descr {
        font-size: 24px;
        line-height: 34px;
        padding-top: 11px;

        @media (min-width: 992px) {
            font-size: $article-head;
            line-height: 40px;
            width: 50%;
        }
    }

    &__images-wrap {
        margin-bottom: 25px;

        @media (min-width: 992px) {
            margin-bottom: 59px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            max-width: 814px;
            width: 100%;
            margin: 0 auto;
            margin-bottom: 59px;
        }
    }

    &__images_big {
        width: 100%;
        height: 461px;
        object-fit: cover;


        @media (min-width: 992px) {
            height: 670px;
            max-width: 501px;
        }
    }

    &__images_small {
        display: none;

        @media (min-width: 992px) {
            display: block;
            max-width: 293px;
            width: 100%;
            height: 384px;
            object-fit: cover;
            margin-bottom: 59px;
        }
    }

    &__images_mar {
        margin: 43px auto 34px;

        @media (min-width: 992px) {
            margin: 50px auto 70px;
        }
    }
}

.article-descr {

    &__title {
        font-weight: 400;
        max-width: 610px;
        margin: 0 auto;
        margin-bottom: 21px;
    }

    &__item {
        font-family: $graphik;
        font-size: $regular;
        line-height: 26px;
        max-width: 611px;
        margin: 0 auto;
        margin-bottom: 28px;

        &_pad {
            margin-bottom: 38px;
        }
    }

    &__img {
        max-width: 1239px;
        width: 100%;
        height: 225px;
        object-fit: cover;
        display: block;
        margin: 50px 0 40px;

        @media (min-width: 992px) {
            height: 720px;
            margin: 51px auto 70px;
        }
    }

    &__img-title {
        font-size: $bigger;
        font-weight: 400;
        line-height: 34px;
        max-width: 611px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    &__quotes {
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        padding: 50px 0;
        text-align: center;
        margin: 39px 0;

        @media (min-width: 992px) {
            margin: 50px 0;
        }
    }

    &__quotes-item {
        max-width: 821px;
        margin: 0 auto;
        font-size: 30px;
        line-height: 38px;
        margin-bottom: 11px;

        @media (min-width: 992px) {
            font-size: $quotes;
            line-height: 50px;
            margin-bottom: 22px;
        }
    }

    &__quotes-author {
        font-style: italic;
        font-size: 18px;
        line-height: 38px;

        @media (min-width: 992px) {
            font-size: $article-head;
            line-height: 40px;
        }
    }
}


.article-gallery {
    margin: 42px 0 13px;
    max-width: 1241px;

    @media (min-width: 992px) {
        margin: 54px 0 10px;
    }

    &__img {
        width: 100%;
        height: 224px;
        object-fit: cover;


        @media (min-width: 992px) {
            height: 720px;
        }
    }

    .slick-prev,
    .slick-next {
        @include btn-base;
        position: absolute;
        z-index: 3;
        bottom: -49px;
        right: 0;
        font-family: $main-font;
        font-size: 30px;
        line-height: 38px;

        @media (min-width: 1200px) {
            top: 0;
            right: 0;
            bottom: 0;
            width: 30%;
            height: auto;
            position: absolute;
            z-index: 3;
            cursor: url(../img/icons/next.png), pointer;
        }
    }

    .slick-prev {
        right: auto;
        left: 0;
        transform: rotate(-180deg);

        @media (min-width: 1200px) {
            cursor: url(../img/icons/prev.png), pointer;
        }
    }

    .slick-dots {
        display: none !important;
    }

    .slick-disabled {
        color: #807e7b;
    }

    &__count {
        text-align: center;
        font-size: 18px;
        line-height: 34px;
        font-style: italic;
        margin-bottom: 36px;

        @media (min-width: 992px) {
            padding-right: 31px;
            font-size: 24px;
            margin-bottom: 60px;
        }
    }
}

.switch-wrap {
    @include container;
    padding: 0 15px;
    margin-bottom: -7px;

    @media (min-width: 992px) {
        padding: 0 100px;
        margin-bottom: 219px;
    }
}

.switch {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding: 34px 0 0;

    @media (min-width: 992px) {
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
    }

    &__link {
        font-size: 18px;
        line-height: 38px;
        color: $black;
        margin-bottom: 4px;
        display: block;

        @media (min-width: 992px) {
            font-size: $bigger;
            margin-bottom: 20px;
        }

        span {
            font-style: italic;
            display: inline-block;

            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background-color: $black;
                margin-top: -12px;
                transition: $transition;

                @media (min-width: 992px) {
                    margin-top: -9px;
                }
            }

            &:hover:after {
                opacity: 0;
            }
        }
    }

    &__title {
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;

        @media (min-width: 992px) {
            font-size: $bigger;
            line-height: 34px;
            padding: 0 5px;
        }
    }

    &__next {
        text-align: right;

        .switch__link {
            display: flex;
            flex-direction: row-reverse;

            span {
                margin-right: 5px;

                @media (min-width: 992px) {
                    margin-right: 0;
                }
            }

            @media (min-width: 992px) {
                display: block;
            }
        }
    }

    &__next,
    &__prev {
        margin-bottom: 33px;

        @media (min-width: 992px) {
            max-width: 500px;
            margin-bottom: 13px;
        }
    }
}