@import "reset";
@import "blocks/header";
@import "blocks/footer";
@import "blocks/instagram-section";
@import "blocks/blog-section";
@import "blocks/travels";
@import "libs/animate";

.blog {
    padding: 40px 15px 0;

    @media (min-width: 768px) {
        padding: 40px 50px;
    }

    @media (min-width: 992px) {
        padding: 52px 50px;
        margin-bottom: 30px;
    }

    @media (min-width: 1200px) {
        padding: 52px 100px;
    }


    &__list {
        padding-bottom: 0;

        @media (min-width: 992px) {
            margin-bottom: 41px;
        }
    }

    &__pag {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -10px;

        @media (min-width: 992px) {
            margin-top: 0;
        }
    }

    &__pag-list {
        display: flex;
        margin: 0 14px;

        @media (min-width: 992px) {
            margin: 0 28px;
        }
    }

    &__pag-item {
        font-size: 30px;
        line-height: 40px;
        padding: 0 12px;
        cursor: pointer;
    }

    &__pag_active,
    &__pag_disabled {
        color: rgba(0, 0, 0, 0.5);
    }

    &__pag-btn {
        @include btn-base;
        font-size: 40px;
        padding: 10px;
        font-family: $main-font;
        transition: .2s all;

        &:hover {
            color: rgba(0, 0, 0, 0.5);
        }
    }
}

.travels {
    padding: 54px 15px 0;

    @media (min-width: 768px) {
        padding: 54px 50px 0;
    }

    @media (min-width: 992px) {
        margin-bottom: 218px;
    }

    @media (min-width: 1200px) {
        padding: 54px 100px 0;
    }

    &__item {
        &:last-child {
            display: none;

            @media (min-width: 992px) {
                display: block;
            }
        }

        &:only-child {
            display: block;
        }
    }
   
}