@import "reset";
@import "blocks/header";
@import "blocks/footer";
@import "libs/slick";
@import "libs/animate";
@import "blocks/instagram-section";
@import "blocks/travels";

// -----------------------Write us--------------

.write-us {
    @include container;
    padding: 0 15px;
    margin-bottom: 75px;

    @media (min-width: 992px) {
        padding: 0 100px;
        margin-bottom: 100px;
    }

    &__wrap {
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        padding: 50px 0 44px;

        @media (min-width: 992px) {
            padding: 70px 0 54px;
        }
    }

    &__descr {
        font-size: 30px;
        line-height: 38px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 21px;

        @media (min-width: 992px) {
            font-size: $write-us;
            max-width: 820px;
            line-height: 50px;
            margin-bottom: 41px;
        }
    }

    &__link {
        text-align: center;

        span {
            margin-right: 5px;
        }

        a {
            color: $black;
            font-style: italic;
            font-size: 18px;
            line-height: 38px;
            display: inline-block;


            @media (min-width: 992px) {
                font-size: $bigger;
                line-height: 38px;
            }

            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background-color: $black;
                margin-top: -11px;
                transition: $transition;

                @media (min-width: 992px) {
                    margin-top: -9px;
                }
            }

            &:hover:after {
                opacity: 0;
            }

        }

    }
}

// --------------------------Partner travel--------------

.partner {
    @include container;
    padding: 0;

    @media (min-width: 992px) {
        padding: 46px 93px;
        position: relative;
        margin-bottom: 103px;
    }

    &__title {
        @include section-title;
        padding-left: 15px;
        margin-bottom: 15px;
        font-size: 27.182px;
        line-height: 32px;

        @media (min-width: 992px) {
            padding-left: 5px;
            margin-bottom: 30px;
        }
    }

    &__list {
        display: inline-flex;
        padding: 0 0 30px 15px;

        @media (min-width: 992px) {
            display: block;
            padding: 0;
        }
    }

    &__list-wrapper {
        overflow-x: scroll;

        @media (min-width: 992px) {
            overflow-x: visible;
        }
    }

    &__item {
        width: 318px;
        margin-right: 15px;

        @media (min-width: 992px) {
            width: auto;
            padding: 0 10px;
            margin-right: 0;
        }
    }

    &__item-img-wrap {
        position: relative;

        @media (min-width: 1200px) {
            &:after {
                content: '';
                position: absolute;
                display: block;
                width: 100%;
                height: 399px;
                top: 0;
                left: 0;
                background-color: rgba(255, 255, 255, 0);
                z-index: 0;
                transition: $transition;
            }

            &:hover:after {
                background-color: rgba(255, 255, 255, .3);
            }
        }
    }

    &__item-img {
        width: 100%;
        height: 208px;
        object-fit: cover;
        margin-bottom: 7px;

        @media (min-width: 992px) {
            height: 399px;
            margin-bottom: 11px;
        }
    }

    &__item-title {
        color: $black;
        font-size: 24px;
        line-height: 26px;
        font-weight: 400;
        transition: $transition;
        display: inline;
        border-bottom: 1px solid transparent;
        transition: $transition;

        &:hover {
            border-bottom-color: #000;
        }

        // text-decoration: underline;
        // text-decoration-skip-ink: none;

        // text-decoration-color: transparent;

        // &:hover {
        //     text-decoration-color: #000;
        // }

        @media (min-width: 992px) {
            font-size: $travel-title;
            line-height: 38px;
        }
    }

    .team-slider-next,
    .team-slider-prev {
        @include btn-base;
        position: absolute;
        top: -81px;
        font-size: 38px;
        font-family: $main-font;
        transition: $transition;

        &:hover {
            color: #807E7B;
        }
    }

    .team-slider-next {
        right: 12px;
    }

    .team-slider-prev {
        right: 66px;
    }

    .slick-disabled {
        color: #807E7B;
    }
}

// ------------Section Last--------------
.last {
    @include container;
    padding: 73px 15px 0;

    @media (min-width: 992px) {
        padding: 0 50px;
        margin-bottom: 65px;
        position: relative;
    }

    @media (min-width: 1200px) {
        padding: 0 96px 0 100px;
        margin-bottom: 65px;
    }

    &__title {
        @include section-title;
        margin-bottom: 17px;
        font-size: 27.182px;
        line-height: 32px;

        @media (min-width: 992px) {
            margin-bottom: 27px;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;

        @media (min-width: 992px) {
            justify-content: flex-start;
        }
    }

    &__item {
        width: 100%;
        margin-bottom: 38px;

        @media (min-width: 600px) {
            width: 49%;
        }

        @media (min-width: 992px) {
            width: 32%;
            max-width: 403px;
            margin-right: 17px;
            margin-bottom: 60px;

            &:nth-child(3n+3) {
                margin-right: 0;
            }

            &:nth-child(3n+2) {
                margin-top: 38px;
            }
        }

        @media (min-width: 1440px) {
            width: 33%;
        }

    }

    &__item-img-wrap {
        position: relative;

        @media (min-width: 1200px) {
            &:after {
                content: '';
                position: absolute;
                display: block;
                width: 100%;
                height: 264px;
                top: 0;
                left: 0;
                background-color: rgba(255, 255, 255, 0);
                z-index: 0;
                transition: $transition;
            }

            &:hover:after {
                background-color: rgba(255, 255, 255, .3);
            }
        }
    }

    &__item-img {
        width: 100%;
        height: 227px;
        margin-bottom: 7px;

        @media (min-width: 992px) {
            height: 264px;
            margin-bottom: 14px;
        }
    }

    &__item-title {
        font-size: $bigger;
        line-height: 26px;
        font-weight: 400;
        color: $black;
        margin-bottom: 9px;
        max-width: 370px;

        .underline {
            border-bottom: 1px solid transparent;
            transition: $transition;

            &:hover {
                border-bottom-color: #000;
            }
        }
        // text-decoration: underline;
        // text-decoration-skip-ink: none;
     
        // text-decoration-color: transparent;

        // &:hover {
        //     text-decoration-color: #000;
        // }

        @media (min-width: 992px) {
            font-size: $bigger;
            line-height: 32px;
            margin-bottom: 3px;
        }
    }

    &__item-date {
        font-size: 18px;
        line-height: 26px;
        color: $black;

        @media (min-width: 992px) {
            font-size: $bigger;
            line-height: 34px;
        }

        .icon {
            margin: 0 5px;
            font-size: 20px;
        }
    }

    &__btn-wrap {
        display: flex;
        justify-content: end;
    }

    &__link {
        @include link;
        @include btn-base;
        font-family: $main-font;
        display: inline-block;
        // padding-left: 50%;
        margin-left: auto;

        @media (min-width: 992px) {
            position: absolute;
            bottom: 188px;
            right: 102px;
        }

        &:after {
            content: '';
            display: block;
            width: calc(100% - 20px);
            margin-left: auto;
            height: 1px;
            background-color: $black;
            margin-top: -5px;
            transition: $transition;

            @media (min-width: 992px) {
                margin-top: -9px;
            }
        }

        &:hover:after {
            opacity: 0;
        }

        span {
            font-size: 22px;
        }
    }
}