@import "reset";
@import "blocks/header";
@import "blocks/footer";
@import "blocks/main-banner";
@import "libs/animate";


.banner {

    @media (min-width: 992px) {
        padding: 0 20px 0 16px;
        max-height: 468px;
    }

    &__info {
        padding: 40px 16px 38px;

        @media (min-width: 992px) {
            padding: 40px 50px 60px;
        }
    }

    .animation-legs {
        top: 166px;

        @media (min-width: 992px) {
            top: 58px;
        }
    }

    &__img {
        height: 228px;

        @media (min-width: 992px) {
            height: 468px;
        }
    }

    &__descr {
        max-width: 490px;
        margin-bottom: 0;

        @media (min-width: 992px) {
            max-height: 468px;
        }
    }
}

.tour {
    @include container;
    padding: 70px 15px 31px;
    display: flex;

    @media (min-width: 992px) {
        padding: 110px 0 110px 15px;
    }

    @media (min-width: 1200px) {
        padding: 110px 50px 110px;
    }

    @media (min-width: 1400px) {
        padding: 110px 20px 91px 100px;
    }
}

// -------------Content--------------

.content {
    width: 100%;

    @media (min-width: 992px) {
        width: 67%;
        max-width: 820px;
        flex-shrink: 0;
    }

    &__alternative {
        font-size: $tour-big;
        line-height: 38px;
        max-width: 715px;
        margin-bottom: 20px;
    }

    &__alternative-descr {
        font-size: $bigger;
        line-height: 34px;
        max-width: 728px;
        margin-bottom: 34px;

        @media (min-width: 992px) {
            margin-bottom: 50px;
        }
    }

    &__reservation-block {

        @media (min-width: 992px) {
            display: none;
        }
    }

    &__details-title {
        font-size: $bigger;
        line-height: 40px;
        font-weight: 400;
        margin-bottom: 9px;

        @media (min-width: 992px) {
            margin-bottom: 4px
        }
    }

    &__details-list {
        padding: 0 17px;
        margin-bottom: 39px;

        @media (min-width: 992px) {
            margin-bottom: 27px;
        }
    }

    &__details-item {
        font-family: $graphik;
        list-style: disc;
        font-size: $regular;
        line-height: 28px;
        margin-bottom: 13px;

        @media (min-width: 992px) {
            margin-bottom: 10px;
        }
    }

    &__img {
        width: 100%;
        height: 258px;
        object-fit: cover;
        margin-bottom: 60px;

        @media (min-width: 768px) {
            height: 615px;
        }

        @media (min-width: 992px) {
            margin-bottom: 62px;
        }
    }
}

.detail {
    margin-bottom: 73px;

    @media (min-width: 992px) {
        margin-bottom: 57px;
    }

    &_margin {
        margin-bottom: 30px;
    }

    &__title {
        font-size: $detail-titel;
        line-height: 50px;
        font-weight: normal;
        margin-bottom: 16px;
    }

    &__item {
        margin-bottom: 22px;

        @media (min-width: 992px) {
            margin-bottom: 16px;
        }
    }

    &__item-day {
        font-size: $bigger;
        line-height: 34px;
        margin-bottom: 10px;

        @media (min-width: 992px) {
            line-height: 40px;
            margin-bottom: 3px;
        }
    }

    &__item-descr {
        font-family: $graphik;
        font-size: $regular;
        line-height: 26px;
        padding-right: 10px;
    }
}

// --------------------------Registration link--------------

.reg-link {
    @include container;
    padding: 0 100px;
    margin-bottom: 100px;

    &__wrap {
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        padding: 50px 0 47px;
        margin-bottom: 67px;

        @media (min-width: 992px) {
            padding: 70px 0 47px;
            margin-bottom: 45px;
        }
    }

    &__descr {
        font-size: 30px;
        line-height: 38px;
        max-width: 820px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 20px;

        @media (min-width: 992px) {
            font-size: $write-us;
            line-height: 50px;
            margin-bottom: 41px;
        }
    }

    &__link {
        text-align: center;

        span {
            font-size: 13px;

            @media (min-width: 992px) {
                font-size: 26px;
            }
        }

        a {
            @include btn-base;
            color: $black;
            font-style: italic;
            font-size: 18px;
            line-height: 38px;
            font-family: $main-font;
            display: inline-block;

            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background-color: $black;
                margin-top: -12px;
                transition: $transition;

                @media (min-width: 992px) {
                    margin-top: -9px;
                }
            }

            &:hover:after {
                opacity: 0;
            }

            @media (min-width: 992px) {
                font-size: $bigger;
                line-height: 38px;
            }
        }
    }
}

// -----------------------------Residence--------------

.residence {
    margin-bottom: 32px;

    &__title {
        font-size: $detail-titel;
        line-height: 40px;
        margin-bottom: 22px;
    }

    &__subtitle {
        font-size: $bigger;
        line-height: 34px;
        margin-bottom: 22px;
    }

    &__descr {
        font-family: $graphik;
        font-size: $regular;
        line-height: 26px;
        margin-bottom: 27px;
    }

    &__img {
        display: none;

        @media (min-width: 992px) {
            display: block;
            width: 100%;
            max-width: 820px;
            max-height: 545px;
            object-fit: cover;
        }
    }
}

// -------------------------Registraton section----------

.reg {
    @include container;
    padding: 0 15px;
    margin-bottom: 67px;

    @media (min-width: 992px) {
        padding: 0 100px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 120px;
    }

    &__info {

        @media (min-width: 992px) {
            max-width: 479px;
            margin-right: 136px;
        }
    }

    &__title {
        font-size: $travel-title;
        line-height: 40px;
        margin-bottom: 20px;
        font-weight: 400;
    }

    &__descr {
        font-size: $bigger;
        line-height: 34px;
        margin-bottom: 39px;

        @media (min-width: 992px) {
            margin-bottom: 20px;
        }
    }

    &__link {
        font-size: $bigger;
        line-height: 34px;
        margin-bottom: 10px;

        @media (min-width: 992px) {
            margin-bottom: 0;
        }

        a {
            color: $black;
            margin-left: 5px;
        }
    }

    &__form {
        width: 100%;

        @media (min-width: 992px) {
            max-width: 610px;
        }
    }

    &__input {
        width: 100%;
        font-size: 18px;
        line-height: 32px;
        font-family: $graphik;
        border: none;
        border-bottom: 1px solid #000;
        padding: 3px 0;
        margin-bottom: 29px;
        background-color: $bg-site;

        @media (min-width: 992px) {
            margin-bottom: 48px;
        }

        &:last-child {
            margin-bottom: 10px;
        }
    }

    &__submit {
        @include btn-base;
        font-size: $bigger;
        line-height: 34px;
        width: 100%;
        max-width: 401px;
        padding: 15px 0;
        background: $submit;
        border-radius: 5px;
        font-family: $main-font;
        transition: $transition;

        &:hover {
            background: $submit-hover;
        }
    }

}

//--------------  Form dropdowns  ---------------

.dropdown-list {
    width: 100%;
    display: block;
    cursor: pointer;
    position: relative;

    .dropdown-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 28px;

        @media (min-width: 992px) {
            margin-bottom: 32px;
        }

        input {
            border: none;
            width: 100%;
            font-size: 18px;
            line-height: 32px;
            font-family: $graphik;
            cursor: pointer;
            background-color: $bg-site;
        }

        img {
            transition: .2s all;
        }
    }

    .sub_menu {
        display: none;
        width: 100%;
        box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
        position: absolute;
        z-index: 10;
        left: 0;
        top: 56px;
        max-height: 183px;
        overflow-y: scroll;
        scroll-margin: 20px;
        background: $bg-site;

        .list-item {
            @include btn-base;
            width: 100%;
            text-align: left;
            padding: 7px 15px;
            z-index: 10;
        }

        &::-webkit-scrollbar {
            width: 4px;
            background: $bg-site;
        }

        &::-webkit-scrollbar-thumb {
            background: #C8C8C8;
            border-radius: 5px;
        }
    }
}

.active-dropdown {
    transform: rotate(180deg);
    transition: .2s all;
}

// --------Checkbox----------

.checkbox-label {
    flex-grow: 1;
    display: flex;
    position: relative;
    cursor: pointer;
    font-family: $graphik;
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 26px;

    @media (min-width: 992px) {
        // align-items: center;
        line-height: 28px;
    }

    &:before {
        content: "";
        display: block;
        position: relative;
        background-color: transparent;
        width: 100%;
        max-width: 20px;
        height: 20px;
        border: 1px solid $black;
        margin-right: 10px;
        box-sizing: border-box;
    }
}

.checkbox-input {
    display: none;
}

.checkbox-input:checked+.checkbox-label:after {
    content: url("../img/icons/checkbox.svg");
    display: block;
    position: absolute;
    left: 3px;
    bottom: 29px;

    @media (min-width: 540px) {
        bottom: 3px;
    }

    @media (min-width: 992px) {
        bottom: 33px;
    }

    @media (min-width: 1200px) {
        bottom: 4px;
    }
}

// --------------Reservation-----------------
.reservation-wrap {
    opacity: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    padding: 15px;
    width: 100%;
    z-index: -1;
    transition: .5s;

    @media (min-width: 992px) {
        opacity: 1;
        display: block;
        width: 32%;
        max-width: 441px;
        position: static;
        // bottom: auto;
        // left: auto;
        // right: 0;
        padding: 0;
        background-color: transparent;
        z-index: 10;
        transition: none;
    }

    @media (min-width: 1200px) {
        right: 30px;
    }

    @media (min-width: 1400px) {
        // position: static;
        max-width: none;
        // width: 35%;
        width: 40%;
        // min-width: 441px;
    }
}

    .reservation {

        @media (min-width: 992px) {
            display: block;
            padding: 4px 10px 4px 90px;
            // max-width: 441px;
            position: sticky;
            top: 33px;
        }
        @media (min-width: 1400px) {
            // padding: 4px 0 4px 20px;
            padding: 4px 0 4px 140px;
        }

        &_fixed {
            position: fixed;
            right: 0;
            top: 33px;
            width: 32%;
           
            max-width: 441px;
          

            @media (min-width: 1200px) {
                right: 30px;
            }


            @media (min-width: 1400px) {
                right: calc(50% - 700px);
                max-width: 500px;
                width: 40%;
            }
        }

        &_fixed-mob {
            opacity: 1;
            z-index: 10;
        }

        &__price-wrap {
            display: none;

            @media (min-width: 992px) {
                display: block;
            }
        }

        &__price-wrap-mob {
            margin-bottom: 17px;
        }

        &__price {
            font-size: $bigger;
            line-height: 34px;
        }

        &__btn-wrap {
            display: flex;
            flex-direction: column-reverse;

            @media (min-width: 992px) {
                display: block;
            }
        }

        &__btn {
            display: block;
            text-align: center;
            color: #000;
            max-width: none;
            order: 3;

            @media (min-width: 992px) {
                margin-bottom: 30px;
                margin-top: 24px;
                max-width: 401px;
            }
        }

        &__details-wrap {
            display: none;

            @media (min-width: 992px) {
                display: block;
            }
        }

        &__details-title {
            margin-bottom: 7px;

            @media (min-width: 992px) {
                margin-bottom: 0;
            }
        }

        &__details-list {
            padding: 0;
            margin: 0 0 14px 16px;
        }

        &__details-item {
            margin-bottom: 12px;

            @media (min-width: 992px) {
                margin-bottom: 0;
            }
        }

        &__places {
            font-size: 18px;
            line-height: 34px;
            color: $message;
            margin-top: 10px;
            order: 2;

            @media (min-width: 992px) {
                font-size: 24px;
                line-height: 34px;
            }
        }

        &__message {
            color: $message;
            font-family: $graphik;
            font-size: 16px;
            line-height: 24px;
            order: 1;

            @media (min-width: 992px) {
                font-size: 18px;
                line-height: 28px;
            }
        }
    }