.blog {
    @include container;
    padding: 20px 15px 0;

    @media (min-width: 992px) {
        padding: 0 50px;
        margin-bottom: 100px;
        position: relative;
    }

    @media (min-width: 1200px) {
        padding: 0 101px;
        margin-bottom: 200px;
    }



    &__title {
        @include section-title;
        margin-bottom: 16px;
        font-size: 27px;
        line-height: 32px;

        @media (min-width: 992px) {
            margin-bottom: 34px;
        }
    }

    &__list {
        padding-bottom: 7px;

        @media (min-width: 992px) {
            padding-bottom: 0;
        }
    }

    &__item {
        display: block;
        margin-bottom: 40px;

        @media (min-width: 768px) {
            display: flex;
            margin-bottom: 20px;
        }
    }

    &__img-wrap {
        position: relative;

        @media (min-width: 1200px) {
            &:after {
                content: '';
                position: absolute;
                display: block;
                width: 100%;
                height: 398px;
                top: 0;
                left: 0;
                background-color: rgba(255, 255, 255, 0);
                z-index: 0;
                transition: $transition;
            }

            &:hover:after {
                background-color: rgba(255, 255, 255, .3);
            }
        }
    }

    &__img {
        width: 100%;
        height: 225px;
        margin-bottom: 5px;

        @media (min-width: 768px) {
            // width: 60%;
            margin-bottom: 0;
        }

        @media (min-width: 992px) {
            height: 399px;
        }

        @media (min-width: 1200px) {
            width: 610px;
        }
    }

    &__item-info {
        color: $black;

        @media (min-width: 768px) {
            padding: 0 20px;
            color: $black;
            width: 40%;
        }

        @media (min-width: 1200px) {
            width: auto;
        }
    }

    &__item-date {
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 5px;

        @media (min-width: 992px) {
            font-size: $bigger;
            line-height: 40px;
            margin-bottom: 13px;
        }
    }

    &__item-title {
        font-size: 24px;
        line-height: 28px;
        font-weight: 400;
        max-width: 549px;
        display: inline;
        transition: $transition;
        border-bottom: 1px solid transparent;
        transition: $transition;

        &:hover {
            border-bottom-color: #000;
        }
        // text-decoration: underline;
        // text-decoration-skip-ink: none;
       
        // text-decoration-color: transparent;

        // &:hover {
        //     text-decoration-color: #000;
        // }

        @media (min-width: 992px) {
            font-size: $travel-title;
            line-height: 38px;
        }
    }

    &__link-wrap {
        display: flex;
        justify-content: end;
    }

    &__link {
        @include link;
        display: inline-block;
        margin-left: auto;
        // width: 125px;
        font-size: 16px;

        @media (min-width: 992px) {
            position: absolute;
            bottom: 25px;
            right: 100px;
            width: auto;
            display: inline-block;
        }

        &:after {
            content: '';
            display: block;
            width: calc(100% - 16px);
            height: 1px;
            background-color: $black;
            margin-top: -4px;
            margin-left: auto;
            opacity: 1;
            transition: $transition;

            @media (min-width: 992px) {
                margin-top: -9px;
                width: calc(100% - 23px);
            }
        }

        &:hover {
            &:after {
                opacity: 0;
            }
        }

    }
}