body {
    background-color: $bg-site;
    overflow-x: hidden;
}
@mixin text-underline-crop($background) {
    text-shadow:  .03em 0 $background, 
                  -.03em 0 $background,
                  0 .03em $background,
                  0 -.03em $background,
                  .06em 0 $background,
                  -.06em 0 $background,
                  .09em 0 $background,
                  -.09em 0 $background,
                  .12em 0 $background,
                  -.12em 0 $background,
                  .15em 0 $background,
                  -.15em 0 $background;
}
em {
    font-style: normal;
}

.italic {
    font-style: italic;
}

.header {
    @include container;
    padding: 21px 15px 19px;
    max-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1px;
    position: relative;
    background-color: $bg-site;
    z-index: 3;

    @media (min-width: 992px) {
        @include container;
        padding: 17px 25px 20px 15px;
        display: flex;
        align-items: center;
        margin-bottom: 1px;
        position: relative;
        max-height: none;
    }

    &__logo {
        width: 50%;

        img {
            width: 153px;
            height: 25px;

            @media (min-width: 992px) {
                max-width: 400px;
                max-height: 40px;
                width: auto;
                height: auto;
            }
        }
    }

    &__nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 70px;
        left: 0;
        font-size: 18px;
        line-height: 22px;
        padding: 22px 19px;
        background-color: $bg-site;

        @media (min-width: 992px) {
            position: static;
            top: auto;
            left: auto;
            width: 50%;
            display: flex;
            justify-content: space-between;
            font-size: $nav-size;
            line-height: 29px;
            padding: 0 0 0 12px;
        }
    }

    &__nav_active {
        bottom: -67px;
    }

    &__nav-list {
        display: flex;
    }

    &__nav-item {
        &:last-child {
            .header__nav-link {
                margin-right: 0;
            }
        }
    }

    &__nav-link {
        margin-right: 50px;
        color: $black;
        display: block;
        @include underline;

        &:after {

            @media (min-width: 992px) {
                margin-top: -3px;
            }
        }

        @media (min-width: 992px) {
            margin-right: 106px;
        }
    }

    &__lang {
        color: $black;
        font-style: italic;
        @include underline;

        &:after {

            @media (min-width: 992px) {
                margin-top: -3px;
            }
        }
    }

    &__lang_active {
        display: none;
    }
}

.hamburger {
    display: block;

    span {
        display: block;
        height: 1px;
        width: 37px;
        background-color: #000;
        margin-bottom: 10px;
        transition: all .1s;

        &:last-child {
            margin-bottom: 0;
        }
    }


    &_active {

        span {
            

            &:nth-child(1) {
                transform: translateY(3px) rotate(-45deg);
                width: 37px;
            }

            &:nth-child(2) {
                transform: translateY(-7px) rotate(45deg);
                width: 37px;
            }

        }
    }
}

.menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    @include btn-base;

    @media (min-width: 992px) {
        display: none;
    }
}