// ------------------------Travels section-------------

.travels {
    @include container;
    padding: 78px 15px 0;

    @media (min-width: 992px) {
        padding: 0 50px;
    }

    @media (min-width: 1200px) {
        padding: 0 100px;
    }

    &_pad {
        padding: 44px 15px 75px;

        @media (min-width: 992px) {
            padding: 56px 100px 91px;
        }

        @media (min-width: 1200px) {
            padding: 56px 100px 91px;
        }
    }

    &__title {
        @include section-title;
        margin-bottom: 15px;

        @media (min-width: 992px) {
            margin-bottom: 0;
        }

    }

    &__title_size {
        font-size: 27.182px;
        line-height: 32px;

        @media (min-width: 992px) {
            font-size: $section-title;
            line-height: 56px;
        }
    }

    &__list {

        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 30px;
        }
    }

    &__item {
        width: 100%;
        margin-bottom: 40px;

        @media (min-width: 768px) {
            margin-top: 28px;
            width: calc(50% - 10px);
            max-width: 610px;
            margin-bottom: 16px;

            &:nth-child(even) {
                margin-top: 80px;
            }
        }

       


        // a {
        //     display: inline;
        //     width: 100%;
        //     height: 100%;
        // }


    }

    &__item-img-wrap {
        position: relative;
        
        @media (min-width: 1200px) {
            &:after {
                content: '';
                position: absolute;
                display: block;
                width: 100%;
                height: 398px;
                top: 0;
                left: 0;
                background-color: rgba(255, 255, 255, 0);
                z-index: 0;
                transition: $transition;
            }

            &:hover:after {
                background-color: rgba(255, 255, 255, .3);
            }
        }
    }

    &__item-img {
        width: 100%;
        height: 226px;
        object-fit: cover;
        margin-bottom: 7px;


        @media (min-width: 992px) {
            height: 398px;
            margin-bottom: 7px;
        }
    }

    &__item-title {
        font-weight: 400;
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 10px;
        // text-decoration: underline;
        // text-decoration-skip-ink: none;
        // transition: $transition;
        // text-decoration-color: transparent;

      
        .underline {
            border-bottom: 1px solid transparent;
            transition: $transition;

            &:hover {
                border-bottom-color: #000;
            }
        }

        // &:hover {
        //     text-decoration-color: #000;
        // }

        @media (min-width: 992px) {
            font-size: $travel-title;
            line-height: 127%;
            max-width: 600px;
            margin-bottom: 14px;
        }
    }

    &__item-descr {
        color: $black;
        font-size: 18px;
        line-height: 26px;

        .icon {
            font-size: 15px;
            padding: 1px 6px;
        }

        @media (min-width: 992px) {
            font-size: $bigger;
            line-height: 24px;

            .icon {
                font-size: 23px;
                padding: 1px 6px;
            }
        }
    }

    &__link-wrap {
        display: flex;
        justify-content: end;
    }

    &__link {
        @include link;
        display: inline-block;
        text-align: right;
        line-height: 11px;
        margin-left: auto;
        white-space: nowrap;

        &:after {
            content: '';
            display: block;
            width: calc(100% - 17px);
            margin-left: auto;
            height: 1px;
            background-color: $black;
            margin-top: 1px;
            opacity: 1;
            transition: $transition;
        }

        &:hover {
            &:after {
                opacity: 0;
            }
        }

        @media (min-width: 992px) {
            @include link;
            display: inline-block;
            margin-left: 50%;
            line-height: 38px;
            text-align: left;
            width: auto;

            &:after {
                margin-top: -9px;
                width: calc(100% - 28px);
            }
        }



        span {
            font-size: 15px;
            padding-right: 5px;

            @media (min-width: 992px) {
                font-size: 23px;
                padding: 0 6px 0;
            }
        }
    }

    &__item-message {
        color: $message;
        font-style: italic;
        white-space: nowrap;

        @media (min-width: 992px) {
            font-style: normal;
        }
    }
}

.d-sm-block {
    display: block;

    @media (min-width: 992px) {
        display: inline-block;
    }
}

.blog__btn-wrap {
    display: flex;
    justify-content: end;
    margin-top: -13px;

    @media (min-width: 992px) {
        display: none;
    }
}

.show-more-btn {
    display: none;
    margin-left: auto;
    @include btn-base;
    @include link;
    font-family: $main-font;
    font-size: 18px;
    line-height: 38px;

    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: $black;
        margin-top: -12px;
    }
}